*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

:root{
    --maroon: #800000;
    --reddie: #a01a1a;;
    --beigge: #DAD4B5;
    --cream: #F2E8C6;
}

body{
    margin-bottom: 50px;
    color: black;
}

.container{
    max-width: 1200px;
    margin: auto;
}

.nav{
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    transition: all 0.3s ease-in-out;
    background-color: rgb(255, 255, 255);
}

.nav .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: all 0.3s ease-in-out;
    padding: 10px 0;
}

.nav .logo img{
    height: 3rem;
    width: 8rem;
}

.nav ul{
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
}

.nav ul a{
    color: var(--maroon);
    text-decoration: none;
    padding: 7px 15px;
    transition: all 0.3s ease-in-out;
    font-size: 1.25rem;
}

.nav.active{
    background-color: white;
}

.nav.active a{
    color: black;
}

.buttons{
    margin: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.buttons button{
    height: 50px;
    width: 120px;
    margin: 5px 20px;
    background: var(--cream);
    border: none;
    border-radius: 4px;
    font-size: 1rem;
    color: var(--maroon);
    cursor: pointer;
}

.nature{
    /* background: url(bg.jpg); */
    background-position: cover;
    background-repeat: no-repeat;
    background-position: bottom center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
    z-index: -2;
    background: var(--reddie);
    color: var(--cream);
    /* position: relative; */
}

.nature:before{
    content: "";
    position: absolute;
    z-index: -1;
    background-color: rgb(0, 0, 0, 0.5);
    top:0 ;
    left: 0;
    height: 100%;
    width: 100%;

}

.nature h1{
    font-size: 46px;
    margin: -20px 0 20px;
}

.nature p{
    letter-spacing: 1px;
    line-height: 30px;
    font-size: 20px;
    max-width: 700px;
}

.cont{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: rgb(245, 235, 210);
}

.content{
    max-width: 600px;
    margin: 20px;
    padding: 20px;
    background-color: rgb(230, 230, 210);
}

.content h1{
    margin-bottom: 20px;
    color: #222;
}

.content p{
    line-height: 24px;
    ;
}

#feedback-list {
    margin: 20px;
    padding: 15px;
    background: #f4f4f9;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  #feedback-list h2 {
    margin-top: 0;
  }
  
  #feedback-list ul {
    list-style: none;
    padding-left: 20px;
  }
  
  #feedback-list li {
    margin: 5px 0;
  }
  
  /* Hidden class */
  .hidden {
    display: none;
  }
